<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>WORK-TMC | HOME</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/response.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="header" id="work">
		<nav class="navigator">
			<a href="index.html"><img class="logowork" src="img/work-tmc-logo.png" alt="" width="180"></a>
			<span class="icon-menu entrar" v-if="remove=='salir'" v-on:click="remove='entrar'"></span>
			<span class="icon-cross salir" v-if="remove=='entrar'" v-on:click="remove='salir'"></span>
			<ul class="ulmenu"  v-bind:class="{'removenav':remove=='entrar','entrarnav':remove=='salir'}">
				<a href="index.html" class="linkmenu"><li class="listamenu activo">Inicio</li></a>
				<a href="nosotros.html" class="linkmenu"><li class="listamenu">Nosotros</li></a>
				<a href="servicios.html" class="linkmenu"><li class="listamenu">Servicios</li></a>
				<a href="galeria.html" class="linkmenu"><li class="listamenu">Galería</li></a>
				<a href="contacto.html" class="linkmenu"><li class="listamenu">Contacto</li></a>
			</ul>
		</nav>
	</div>
	<div class="estorbofixesheader"></div>
	<div class="banner">
		<div class="banneropacouno">
			<img class="pngtopografia" src="img/t1.png" alt="">
			<div class="banneropacodos">
				<div>
					<img class="logoworkgrande" src="img/work-tmc-logoblanco.png" width="600">
					<p class="titlebanner">TOPOGRAFÍA PARA MINERÍA, MECÁNICA Y CONSTRUCCIÓN</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contenidouno">
		<p class="txtbienvenido">Bienvenido a WORK-TMC , somos una empresa especializada en la supervisión y control de obras Civiles , Mecánicas y Mineria. Alquiler de maquinaria , equipos topográficos , entre otros servicios de gran calidad</p>
		<img class="imgbienvenido" src="img/estaciontotal.png" alt="">
	</div>
	<hr>
	<div class="contenidodos">
		<div class="minicontenidos">
			<div class="minicontenidoimg">
				<img class="miniimgcontenido" src="img/workteam.png" alt="">
				<div class="miniopacador"></div>
			</div>
			<div class="minicontenidotxt">
				<p class="txtinfomini">Somos una empresa que se distingue por brindar soluciones innovadoras e inteligentes ,además de una atencion personalizada.
				</p>
			</div>
		</div>
		<div class="minicontenidos">
			<div class="minicontenidoimg">
				<img class="miniimgcontenido" src="img/topografiados.jpg" alt="">
				<div class="miniopacador"></div>
			</div>
			<div class="minicontenidotxt">
				<p class="txtinfomini">Si esta buscando una empresa que garantice un servicio de primera en topografia , no lo dude más y comuniquese con nosotros. Somos su mejor alternativa en el sector.</p>
			</div>
		</div>
		<div class="minicontenidos">
			<div class="minicontenidoimg">
				<img class="miniimgcontenido" src="img/maquinaria.jpg" alt="">
				<div class="miniopacador"></div>
			</div>
			<div class="minicontenidotxt">
				<p class="txtinfomini">En nuestra compañia nos preocupamos por garantizar un exelente servicio en el alquiler de equipos topográficos y maquinaria.</p>
			</div>
		</div>
		<div class="minicontenidos">
			<div class="minicontenidoimg">
				<img class="miniimgcontenido" src="img/feliceswork.png" alt="">
				<div class="miniopacador"></div>
			</div>
			<div class="minicontenidotxt">
				<p class="txtinfomini">Queremos que sea el próximo cliente que termine satisfecho de nuestro trabajo contacte con nosotros.</p>
			</div>
		</div>

	</div>

	<div class="contenidotres">
		<h1 class="title3">Nuestros Clientes</h1>
		<div class="clientescontainer">
			<ul class="ulclientescontainer">
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
				<li class="listasimgclientes"><img class="imgclientes" src="img/work-tmc-logo.png" width="200"></li>
			</ul>
		</div>
	</div>

	<div class="contenidocuatro">
		<h1 class="titlecuatroubicacion">Nuestra Ubicación</h1>
		<div class="ubicacion"></div>
	</div>

	<footer>
		<ul class="ulmenufooter">
			<li class="listamenufooter">Inicio</li>
			<li class="listamenufooter">Nosotros</li>
			<li class="listamenufooter">Servicios</li>
			<li class="listamenufooter">Galería</li>
			<li class="listamenufooter">Contacto</li>
		</ul>
		<div class="containerfooter">
			<form class="contenidofooterfinal" action="">
				<p class="txtfooter">Quieres iniciar un proyecto?</p>
				<p class="txtfooter"> contacta con nosotros , por este formulario o por este numero 987654321</p>
				<div class="contenidoinputs">
					<input class="inputemail" type="email" placeholder="correo electronico">
					<textarea class="inputinfo" name="" id="" cols="30" rows="10" placeholder="Que es lo que quieres que hagamos - cotiza."></textarea>
					<input class="inputsubmit" type="submit" value=" Enviar ">
				</div>
			</form>
			<div class="contenidofooterfinal">
				<div class="divsociales">
					<p class="txtfooter">siguenos en las redes
					<a class="iconsocial" href="www.facebook.com"><span class="icon-facebook2">   </span></a>
                        <a class="iconsocial" href="www.instagram.com"><span class="icon-instagram"> </span></a></p>
				</div>
				<div class="divfinalizado">
					<p>
						TODOS LOS DERECHOS RESERVADOR WORK-TMC-TÉCNOLOGÍA 2019
					</p>
					<small> created for <a href="">EichVi</a> - <a href="">Hebert VC</a></small>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var worktmc = new Vue({
			el:'#work',
			data:{
				remove:'salir',
			}
		})
	</script>
</body>
</html>
