<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>WORK-TMC | NOSOTROS</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" sizes="192x192" href="img/worklogo.ico">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/response.css">
	<link rel="stylesheet" href="css/nosotros.css">
  <link rel="stylesheet" href="css/reponsenosotros.css">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="header" id="work">
		<nav class="navigator">
			<a href="index.html"><img class="logowork" src="img/work-tmc-logo.png" alt="" width="180"></a>
			<span class="icon-menu entrar" v-if="remove=='salir'" v-on:click="remove='entrar'"></span>
			<span class="icon-cross salir" v-if="remove=='entrar'" v-on:click="remove='salir'"></span>
			<ul class="ulmenu"  v-bind:class="{'removenav':remove=='entrar','entrarnav':remove=='salir'}">
				<a href="index.html" class="linkmenu"><li class="listamenu">Inicio</li></a>
				<a href="nosotros.html" class="linkmenu"><li class="listamenu activo">Nosotros</li></a>
				<a href="servicios.html" class="linkmenu"><li class="listamenu">Servicios</li></a>
				<a href="galeria.html" class="linkmenu"><li class="listamenu">Galería</li></a>
				<a href="contacto.html" class="linkmenu"><li class="listamenu">Contacto</li></a>
			</ul>
		</nav>
	</div>
	<div class="estorbofixesheader"></div>

  <div class="banner bannernosotros">
		<div class="banneropacouno">
			<img class="pngtopografia" src="img/t1.png" alt="">
			<div class="banneropacodos">
				<div>
					<img class="logoworkgrande" src="img/work-tmc-logoblanco.png" width="600">
					<p class="titlebanner">¿ QUIENES SOMOS ?</p>
				</div>
			</div>
		</div>
	</div>


		<div class="contenidounonosotros">
	    <div class="unonosotroscont">
	      <p class="txtnosotros">Somos una empresa que se caracteriza por ofrecer soluciones innovadoras
	      e inteligentes , asi como atencion personalizada.</p>
	      <p class="txtnosotros">en WORK-TMC , contamos con expertos topógrafos y profesionales que
	      ofrecen excelentes soluciones y un continuo asesoramiento en campo ,
	      Brindamos una atención personalizada y garantizamos un servicio responsable
	    , eficaz y de calidad. </p>
	    </div>
	  </div>
		<div class="containernosotrosall">
	  <div>
	    <div class="sesgounonosotros" style="height:40px">Nuestra Política</div>
	    <hr class="politicahr">
	    <div class="sesgounonostrostxr">
	      <ul class="ulpolitica">
	        <li>Realizar todo trabajo con exelencia.</li>
	        <li>Brindar trato justo y esmerado a todo los clientes.</li>
	        <li>Mantener un comportamiento ético.</li>
	        <li>Preservar el entorno ambiental y la seguridad en el trabajo.</li>
	        <li>Impulsar el desarrollo de la capacidad de los recursos humanos.</li>
	        <li>Entre otros.</li>
	      </ul>
	    </div>
	  </div>
	  <div>
	    <div class="sesgodosnosotros" style="height:40px">Visión</div>

	    <div class="storbovisiondoos">
	    </div>
	    <hr class="visionhr">
	    <div class="sesgodosnostrostxr">
	      <ul class="ulvision">
	        <li>Ser una empresa globalmente competitiva.</li>
	        <li>Ser una institucion con una sólida formación académica y reconocimiento social.</li>
	        <li>Estar comprometios con el buen manejo del medioambiente.</li>
	        <li>Ser líderes en la elaboración , ejecución y supervisión de proyectos topográficos.</li>
	        <li>Impulsar el desarrollo de la capacidad de los recursos humanos.</li>
	        <li>Disminuir los costos de produccion , logrando estrategias de crecimiento con la mayor ventaja, costo beneficio.</li>
	      </ul>
	    </div>
	  </div>
	  <div class="contenidodosnosotros">
	    <div class="sesgotresnosotros" style="height:40px">Misión</div>
	    <hr class="misionhr">
	    <div class="sesgounonostrostxr">
	      <ul class="ulmision">
	        <li>Ofrecer servicios de calidad con la participación de nuestro valioso capital humano y tecnología de punta.</li>
	        <li>Ofrecer respuestas inmediatas a las necesidades del cliente.</li>
	        <li>Garantizar con profesionalismo los proyectos de topografia para obras civiles, montaje de equipos industriales.</li>
	        <li>Capacitar y mantener un equipo de trabajo con excelencia laboral.</li>
	      </ul>
	    </div>
	  </div>
	  <div class="containervalores">
	    <h1 class="titlevalores">Nuestros Valores</h1>
			<div>
				<ul class="ulvalores">
					<li class="listasvalores" style="background:#0D47A1">Integridad</li>
					<li class="listasvalores" style="background:#6200EA">Compromiso</li>
					<li class="listasvalores" style="background:#E53935">Lealtad</li>
					<li class="listasvalores" style="background:#7CB342">Laboriosidad</li>
					<li class="listasvalores" style="background:#9E9D24">Respeto</li>
					<li class="listasvalores" style="background:#6D4C41">Responsabilidad</li>
				</ul>
			</div>
	  </div>
  </div>
	<footer>
		<ul class="ulmenufooter">
			<li class="listamenufooter">Inicio</li>
			<li class="listamenufooter">Nosotros</li>
			<li class="listamenufooter">Servicios</li>
			<li class="listamenufooter">Galería</li>
			<li class="listamenufooter">Contacto</li>
		</ul>
		<div class="containerfooter">
			<form class="contenidofooterfinal" action="">
				<p class="txtfooter">Quieres iniciar un proyecto?</p>
				<p class="txtfooter"> contacta con nosotros , por este formulario o por este numero 987654321</p>
				<div class="contenidoinputs">
					<input class="inputemail" type="email" placeholder="correo electronico">
					<textarea class="inputinfo" name="" id="" cols="30" rows="10" placeholder="Que es lo que quieres que hagamos - cotiza."></textarea>
					<input class="inputsubmit" type="submit" value=" Enviar ">
				</div>
			</form>
			<div class="contenidofooterfinal">
				<div class="divsociales">
					<p class="txtfooter">siguenos en las redes
					<a class="iconsocial" href="www.facebook.com"><span class="icon-facebook2">   </span></a>
                        <a class="iconsocial" href="www.instagram.com"><span class="icon-instagram"> </span></a></p>
				</div>
				<div class="divfinalizado">
					<p>
						TODOS LOS DERECHOS RESERVADOR WORK-TMC-TÉCNOLOGÍA 2019
					</p>
					<small> created for <a href="">EichVi</a> - <a href="">Hebert VC</a></small>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var worktmc = new Vue({
			el:'#work',
			data:{
				remove:'salir',
			}
		})
	</script>
</body>
</html>
